<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutorizarUsuario</servlet-name>
        <servlet-class>controler.AutorizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controler.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>controler.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>controler.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMarca</servlet-name>
        <servlet-class>controler.ControladorMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>controler.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReporteprodtienda</servlet-name>
        <servlet-class>controler.ControladorReporteprodtienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRestablecerClave</servlet-name>
        <servlet-class>controler.ControladorRestablecerClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorToken</servlet-name>
        <servlet-class>controler.ControladorToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUnidad</servlet-name>
        <servlet-class>controler.ControladorUnidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorWishlist</servlet-name>
        <servlet-class>controler.ControladorWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>controler.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarCuenta</servlet-name>
        <servlet-class>controler.RecuperarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCuenta</servlet-name>
        <servlet-class>controler.ValidarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mante_califi</servlet-name>
        <servlet-class>controler.mante_califi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mante_carrito</servlet-name>
        <servlet-class>controler.mante_carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mante_producto</servlet-name>
        <servlet-class>controler.mante_producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mante_usuario</servlet-name>
        <servlet-class>controler.mante_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mante_venta</servlet-name>
        <servlet-class>controler.mante_venta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorizarUsuario</servlet-name>
        <url-pattern>/AutorizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMarca</servlet-name>
        <url-pattern>/ControladorMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReporteprodtienda</servlet-name>
        <url-pattern>/ControladorReporteprodtienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRestablecerClave</servlet-name>
        <url-pattern>/ControladorRestablecerClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorToken</servlet-name>
        <url-pattern>/ControladorToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUnidad</servlet-name>
        <url-pattern>/ControladorUnidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorWishlist</servlet-name>
        <url-pattern>/ControladorWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarCuenta</servlet-name>
        <url-pattern>/RecuperarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCuenta</servlet-name>
        <url-pattern>/ValidarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mante_califi</servlet-name>
        <url-pattern>/mante_califi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mante_carrito</servlet-name>
        <url-pattern>/mante_carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mante_producto</servlet-name>
        <url-pattern>/mante_producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mante_usuario</servlet-name>
        <url-pattern>/mante_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mante_venta</servlet-name>
        <url-pattern>/mante_venta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
